<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>schemegen</title>
</head>

<body>
    <h1>Main page</h1>

    <form action="/upload_image" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Select image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id = "image">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload image</button>
    </form>

</body>
</html>
